[submodule "libedgetpu"]
	path = libedgetpu
	url = https://github.com/google-coral/libedgetpu.git
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/tensorflow.git
	branch = r2.11
